<div class="container m-b 2 " >
    <div class="row justify-content-center align-items-center ">
        
    <div class= "col mt-3" >
        <div class="card" style="width: 18rem;">
        <img src="{{producto.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"> {{producto.nombre}}</h4>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text" style="font-size: x-large; color:red; font-weight:bold;">${{producto.precio}}</p>
            <p class="card-text" >Stock: {{producto.stock}}</p>
            <a href="#" class="btn btn-primary">Comprar <i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
    </div>
        
    </div> 
       
</div>

